/********** B R A I N S T O R M  **********/

#write-screen,
#read-screen {
    position: relative;
    height: 100%;
    padding-top: 50px;
}

.inner-wrapper,
.side-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*circular buttons*/
.btn-circular {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background: #c31fa4;
}
.btn-circular:hover,
.btn-circular:focus,
.btn-circular:active {
    background: #db7bc8;
}

textarea {
    border: 2px solid #c31fa4;
}

.sentence-starter {
    background: #fff;
    width: 100%;
    text-align: left;
}
.sentence-starter:hover,
.sentence-starter:focus,
.sentence-starter:active {
    background: #db7bc8;
}


/********** WRITE SCREEN **********/

#brainstorm-body-container {
    height: 200px;           /* random choice, change however you'd like */
}

#brainstorm-body-input {
    height: 200px;
}

.fa-lightbulb-o {
    color: #c31fa4;
    position: absolute;
    top: 30%;
    right: 5%;
}
.fa-lightbulb-o:hover,
.fa-lightbulb-o:focus,
.fa-lightbulb-o:active {
    color: #DB77C8;
}


/********** READ SCREEN **********/

#my-tiles-list > li {
    outline: 1px solid pink;
}

#others-tiles-list > li {
    outline: 1px dotted pink;
}
/*to create the square tiles http://stackoverflow.com/questions/20456694/grid-of-responsive-squares*/
.tile-container {
    outline-offset: -10px;
    -moz-outline-radius: 10px;
    -webkit-outline-radius: 10px;
    float: left;
    position: relative;
    padding-bottom: 25%; /* = width for a 1:1 aspect ratio */
    overflow: hidden;
}
.tile {
    position: absolute;
    height: 80%; /* = 100% - 2*10% padding */
    width: 90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}

#lock-screen {
    height: 100%;
    width: 100%;
    background: black;
}

#lock-img {
    position: absolute;
    left: 50%;
    top: 50%;
}


/********** T Y P O G R A P H Y **********/

body {
    font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
    font-size: 54px;
    color: #444;
    font-weight: 500;
    margin-bottom: 35px;
}

h2 {
    color: #333;
    margin-bottom: 25px;
}

h3,
label {
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

h4 {
    font-size: 14px;
    font-weight: 500;
}

label {
    vertical-align: middle;
}


/********** G L O B A L **********/

body, html {
    height: 100%;
}

a,
a:hover,
button,
button:hover,
i,
i:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

/* what's the correct way to do this? */
.disabled {
    pointer-events: none;
    cursor: default;
    /*background-color: #BDBDC1;*/      /* we probably want something a little more stark than this */
    opacity: 0.7;
}

.hidden {
    display: none;
}

textarea {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    color: #333;
    width: 100%;
    padding: 25px 2% 1%;
}

.btn {
    margin-bottom: 20px;
    height: 45px;
    min-width: 160px;
}

/*removing linear gradients from button defaults - remove??*/
/*.sentence-starter,
.sentence-starter:hover,
.sentence-starter:focus,
.sentence-starter:active {
    background-image: none;
    text-shadow: none;
}*/

/*so the scroll bar appears at all times*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/***** modals *****/
/*for vertical centering; had to add .table & .table-cell divs to html*/
.table {
    display: table;
    height:100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    background: #e6a5da;
}


/********** NAVBAR **********/

/* This hides any element with class alert directly after an input field with a pattern (regex) */
input[pattern] + .alert {
    display: none;
}

/* If pattern (regex) is violated alert is shown */
input[pattern]:invalid + .alert {
    display: inline-block;
}

/* If pattern (regex) is violated submit button is hidden */
input[pattern]:invalid ~ button {
    display: none;
}

input:disabled {
    display: none;
}

#login-button:disabled {
    display: none;
}

.login-button {
    margin: 1%;
    min-width: 6em;
}

.input-alert {
    margin-top: 2%;
}
