/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/********** MISC **********/

/* what's the correct way to do this? */
.disabled {
    pointer-events: none;
    cursor: default;
    /*background-color: #BDBDC1;*/                  /* we probably want something a little more stark than this */
    opacity: 0.7;
}

.hidden {
    display: none;
}

textarea {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    color: #333;
    width: 570px;
    padding: 1%;
}

.btn {
    margin-bottom: 20px;
    height: 45px;
    min-width: 160px;
}

/*removing linear gradients from button defaults*/
.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background-image: none;
    text-shadow: none;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    font-size: 16px;
    letter-spacing: 0.05em;
    border: none;
}

/*so the scroll bar appears at all times*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/********** TYPOGRAPHY **********/

body {
    font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
    font-size: 54px;
    color: #444;
    font-weight: 500;
    margin-bottom: 35px;
}

h2 {
    color: #333;
    margin-bottom: 25px;
}

h3,
label {
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

h4 {
    font-size: 14px;
    font-weight: 500;
}

label {
    vertical-align: middle;
}

.label-lg {
    font-size: 20px;
    font-weight: 300;
    margin-top: -25px;
}

/********** NAVBAR **********/

/* This hides any element with class alert directly after an input field with a pattern (regex) */
input[pattern] + .alert {
    display: none;
}

/* If pattern (regex) is violated alert is shown */
input[pattern]:invalid + .alert {
    display: inline-block;
}

/* If pattern (regex) is violated submit button is hidden */
input[pattern]:invalid ~ button {
    display: none;
}

input:disabled {
    display: none;
}

#login-button:disabled {
    display: none;
}

.login-button {
    margin: 1%;
    min-width: 6em;
}

.input-alert {
    margin-top: 2%;
}



/********** BODY - ALL **********/

.row-fluid {
    padding-top: 50px;
}



/********** WRITE SCREEN **********/

#brainstorm-body-container {
    height: 200px;                  /* random choice, change however you'd like */
    width: 570px;
}

#brainstorm-body-input {
    height: 200px;
}

#lightbulb-icon {
    float: right;
    height: 30px;
    width: 30px;
}


/********** READ SCREEN **********/

#my-tiles-list > div {
    border: 1px solid pink;
}

#others-tiles-list > div {
    border: 1px dotted pink;
}
